@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,300,800,600);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  line-height: 1.5em;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

ul {
  text-align: left;
}

ul li {
  padding: 5px 0;
}

a {
  color: #000;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 a,
h2 a,
h3 a {
  color: #26bdcf;
}

h1 a:hover,
h2 a:hover,
h3 a:hover {
  text-decoration: none;
  color: #80c9d2;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #fff;
}

header,
footer {
  padding: 20px;
}

header a,
footer a {
  color: #000;
}

header a:hover,
footer a:hover {
  color: #000;
}

main section {
  box-sizing: border-box;
  padding: 20px;
}

main section > a[id] {
  display: block;
  top: -94px;
  visibility: hidden;
  position: relative;
}

main section > h1,
main section > h2,
main section > p {
  margin-bottom: 10px;
}

main section p {
  color: #808285;
}

body > header {
  border-bottom: 1px solid #d4d4d4;
  padding: 5px 20px;
}

body > header h1 img {
  vertical-align: middle;
  width: 64px;
}

body > header h1 .category {
  color: #26bdcf;
}

body > header h1 .category:before {
  content: ' | ';
  color: #d4d4d4;
}

footer {
  text-align: center;
  background-color: #808285;
  color: #fff;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

body > header {
  background: rgba(255, 255, 255, 0.91);
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
}

main {
  padding-top: 74px;
}

main > section + section {
  border-top: 1px solid #d4d4d4;
}

main > section header h2 {
  color: #26bdcf;
}