<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <link href="/stylesheets/category.css" rel="stylesheet" type="text/css" />
    <title>JS toolkit - <%= title %></title>
  </head>

  <body>
    <% include partials/header %>
    <main>

      <section>
        <h1><%= title %></h1>
        <p><%= description %></p>
      </section>

      <% tools.forEach(function (tool) { %>
        <section>
          <h2><%= tool.title %></h2>
        </section>
      <% }); %>
    </main>

    <% include partials/footer %>
  </body>
</html>
