<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <title>JS toolkit - <%= title %></title>
    <link href="/stylesheets/tool.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <% include partials/header %>

    <main>
      <h1><%= title %></h1>
      </li>
    </main>

    <% include partials/footer %>
  </body>
</html>
