//B&W
$black: #000;
$white: #fff;
$grey: #d4d4d4;
$light-grey: rgb(241, 241, 241);

// Thoughtworks Brand Hub Colours
// Earth
$earth-lightest-brown: rgb(254, 224, 201);
$earth-light-brown: rgb(240, 186, 149);
$earth-brown: rgb(158, 120, 95);
$earth-dark-brown: rgb(94, 62, 42);
$earth-light-grey: rgb(128, 130, 133);

//Brights
$bright-yellow: rgb(255, 244, 80);
$bright-orange: rgb(247, 143, 49);
$bright-red: rgb(238, 49, 45);
$bright-wine: rgb(177, 28, 84);
$bright-violet: rgb(106, 37, 105);
$bright-pink: rgb(239, 91, 161);

//Cools
$cool-lime-green: rgb(181, 185, 53);
$cool-pale-green: rgb(137, 183, 127);
$cool-green: rgb(17, 170, 88);
$cool-light-blue: rgb(128, 201, 210);
$cool-sky-blue: rgb(38, 189, 207);
$cool-blue: rgb(26, 115, 186);
