@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,300,800,600);

$default-font-family: 'Open Sans', sans-serif;
$default-font-size: 14px;

p {
  line-height: 1.5em;
}
